.pricing{
border-radius: 10px
;}
.plan-content{
  padding-top: 5px;
  border-bottom: 1px solid blue;
}
.plan-content h3{
  font-size: 20px;
}
.pricing span{
  font-size: 50px;
  position: relative;

}
.pricing span::before{
  content: "$";
  position: absolute;
  bottom: 41px;
  right: 55px;
  font-size: 38px;
  color: #0000004f;
}


.pricing span::after{
  content: "/mo";
  position: absolute;
  font-size: 30px;
  bottom: 0;

}
.pricing ul{
  list-style: none;
  padding: 0;

}
.pricing ul li{
  margin-bottom: 30px;
  width: 100%;
  position: relative;
  
}
