.about{
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 56px;
  background-color: rgb(236, 234, 234);
}
@media (max-width:800px){
  .about{
    width: auto;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 56px;
    background-color: rgb(236, 234, 234);
  }
}