.footer{
  background-color: #1976d2;
align-items: center;
padding-top:20px ;
padding-bottom:20px ;
}

.footer h3{
  color: black;
  font-weight: bold;
}
.footer .social{
border-bottom: 1px solid black;
}
.footer .copy span{
  color: #e61818;
}